@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Recoleta";
  src: url("../src/Components/Fonts/Recoleta-RegularDEMO.otf") format("otf");
}

h1,
h2,
h4 {
  font-family: Recoleta sans-serif;
}

html {
  font-size: 75%;
}
body {
  background-color: #212121;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.footer-heading{
  font-family: "Poppins", sans-serif;
}

.service-text-2 {
  font-weight: 400;
}

.service-title,
.makeup-text,
.main,
.span,
.span2 {
  font-family: Recoleta sans-serif;
}
